<div class="modal fade" id="viewModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>

         <div class="modal-header">
           <h5 class="modal-title">Employee Information</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
         </div>

         <div class="modal-body">

           <div class="form-group">
              <label for="code">code: </label>
              <span> code</span>
           </div>

           <div class="form-group">
            <label for="code">First name</label>
            <span>firstname</span>
           </div>

           <div class="form-group">
            <label for="code">Last name</label>
            <span>lastname</span>
           </div>

           <div class="form-group">
            <label for="code">Email</label>
            <span>email</span>
           </div>



         </div>

         <div class="modal-footer">
           <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>


      </form>
    </div>
  </div>
</div>


